<% if @restaurants.any? %>
  
  <% @restaurants.each do |restaurant| %>
    <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
    <div id='description'><%= restaurant.description %></div><br>
    <%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %><br>
    <%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %><br>
    <%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %><br>
    

    <% restaurant.reviews.all.each do |review| %>
    Thoughts: <%= review.thoughts %> | Rating: <%= review.rating %><br>
    <% end %><br>
  
  <% end %>

<% else %>

  <h1>No restaurants yet</h1>

<% end %>

<a href='/restaurants/new'>Add a restaurant</a>

